<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Cart</title>
</head>
<body>
  <h1>Cart</h1>
  <table>
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      {{#each items}}
      <tr>
        <td>{{this.productId}}</td>
        <td>{{this.quantity}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</body>
</html>