<div>
  <a href="/realTimeProducts">Cadastrar produtos</a>
    <h2>Lista de produtos:</h2>
</div>
<div id="product-list">
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    let productList = document.getElementById('product-list');
    socket.on('product', (products) => {
    console.log('produts', products)
            products.forEach(function(product) {
            let listItem = document.createElement('li');
            listItem.textContent = product.title;
            productList.appendChild(listItem);
            });
            });
</script>